/*--- This will automatically update your theme to the latest release */

@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/theme.css";

/*
** --------------
** Theme settings 
** --------------
*/


/* Settings notif indic */

@import "https://rawgit.com/iFonny/OriDiscord/master/settings/indic.css";

/* Gland badge */

@import "https://rawgit.com/iFonny/OriDiscord/master/settings/gland.css";

/*
** -------------
** 2 Guilds/Line 
** -------------
*/

@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/plugins/wideGuilds.css";

/*
** -------------------------
** DiscordInjections Support 
** -------------------------
*/

@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/plugins/DiscordInjections.css";

/*
** ------------------
** Discord Background 
** ------------------
*/

@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/plugins/transparent.css";

/* Settings */

.app {
    background: rgba(0, 0, 0, 0.65);
}

body {
    background: url("https://i.imgur.com/zr6WscV.png");
    /* Advanced settings */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.theme-dark .search-popout .option.selected {
    background-color: #303030;
}


/*
** --------------
** Other settings 
** --------------
*/

:root {
    --notif: #cf0626;
    --notifborder: #7A78BD;
}


/* Transparent title bar (mac) */

#app-mount div[class*="titleBar-"] {
    background: transparent !important;
    padding-top: 15px;
    margin-bottom: 50px;
}

/* better transparent title bar (max) */
.platform-osx .guilds-wrapper {
    padding-top: 32px;
    margin-top: 0;
}


/* shadow emoji/emote discord */

.emoji,
.emoji.jumboable {
    border-radius: 4px;
    filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.3));
}


/* Hide blocked messages */


/*
.message-group-blocked-btn {
    display: none;
}*/