/*--- This will automatically update your theme to the latest release */

@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/theme.css";

/*
** --------------
** Theme settings 
** --------------
*/


/* Settings badges */

@import "https://rawgit.com/iFonny/OriDiscord/propre/settings/badge.css";

/*
** -------------
** 2 Guilds/Line 
** -------------
*/

@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/assets/wideGuilds.css";

/*
** -------------------------
** DiscordInjections Support 
** -------------------------
*/

@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/assets/DiscordInjections.css";

/*
** ------------------
** Discord Background 
** ------------------
*/

@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/assets/transparent.css";

/* Settings */

.app {
    background: rgba(0, 0, 0, 0.60);
}

body {
    background: url("./ori_dark.jpg");
    /* Advanced settings */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}


/*
** --------------
** Other settings 
** --------------
*/

:root {
    --notif: #cf0626;
    --notifborder: #7A78BD;
}

/* Transparent title bar (mac) */
#app-mount div[class*="titleBar-"] {
    background: transparent !important;
    padding-top: 15px;
}


/* Hide blocked messages */


/*
.message-group-blocked-btn {
    display: none;
}*/


/*
  How to add plugins :D
  1. Just add any @import from either my PLUGINS.md file or find some other @import stuff
  2. Add them under this comment
  3. Enjoy some fun stuff :P
*/