/* Gland Badge */

.avatar-large[style*="170994259690782720"]+.comment .message.first .body .username-wrapper:after {
    content: 'Gland';
    color: #fff;
    margin-left: 5px;
    background: #e8702a;
    line-height: 16px;
    text-transform: uppercase;
    vertical-align: bottom;
    border-radius: 3px;
    margin-left: 6px;
    padding: 1px 2px;
    font-size: 10px;
    font-weight: 600;
    cursor: text;
}

.member.member-status>.avatar-small[style*="170994259690782720"]+.member-inner .member-username:after {
    content: 'Gland';
    color: #fff;
    margin-left: 5px;
    background: #e8702a;
    line-height: 15px;
    height: 14px;
    text-transform: uppercase;
    vertical-align: bottom;
    border-radius: 3px;
    margin-left: 6px;
    padding: 1px 2px;
    font-size: 10px;
    font-weight: 600;
}